@model rainclinic.Models.EditUserViewModel
@{
    ViewData["Title"] = "Kullanıcı Düzenle";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<div class="container-fluid mt-4">
    <h1>Kullanıcı Düzenle</h1>
    <form asp-action="Edit" asp-controller="UserManagement" asp-area="Admin" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="Email" name="Email" readonly placeholder="Email" title="Email" />
            <input type="hidden" asp-for="Email" /> 
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Roller</label>
            @foreach (var role in Model.Roles)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedRoles" value="@role" @(Model.SelectedRoles.Contains(role) ? "checked" : "") />
                    <label class="form-check-label">@role</label>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="@Url.Action("Index", "UserManagement", new { area = "Admin" })" class="btn btn-secondary">İptal</a>
    </form>
</div>
